@media screen and (max-width: 1400px) {
    
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    p{
        width: 60%;
    }


}
@media screen and (max-width:768px) {
    p{
        width: 70%;
    }
}
@media screen and (max-width:576px) {
    p{
        width: 75%;
    }
}